.purchaseGrid {
    width: 100%;
    border-collapse: collapse;
}

.header {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    background-color: #a5a5a5;
    color: rgb(0, 0, 0);
}
